<%- include('../cabecalho') -%>

    <form method="post">
        <input type="text" name="pesquisar" id='pesquisa'>
        <select name='opcao'>
            <option value="nome">Nome</option>
            <option value="email">Email</option>
        </select>
        <input type="submit" value="Pesquisar">
    </form>
    
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Foto</th>
            <th>Edita</th>
            <th>Deleta</th>
        </tr>

        <% Usuarios.forEach(function(usuario){ %> 
            <tr>
                <td> <%=usuario._id%> </td>
                <td> <%=usuario.nome%> </td>
                <td> <%=usuario.email%> </td>
                <td> <%=usuario.senha%> </td>
                <td> <%=usuario.foto%> </td>
                <td> <a href="/usuario/edt/<%=usuario._id%>">Edita</a> </td>
                <td> <a href="/usuario/del/<%=usuario._id%>">Deleta</a> </td>
            </tr>
        <% }) %>

    </table>
    
<%- include('../rodape') -%>